*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    background: none;
    font-family: 'Lato', sans-serif;
}

html, body{
    width: 100%;
}

header{
    background-color: blue;
    width: 100%;
    height: 5vh;
    padding: 1%;
    position: fixed;

    ul{
        list-style: none;
        background-color: blueviolet;
        display: flex;
        justify-content: space-evenly;
        color: aliceblue;
    }
}

.content{
    width: 100%;
    height: 95vh;

    nav{
        width: 20%;
        height: 100%;
        display: inline-block;
        background-color: bisque;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    main{
        width: 78%;
        height: 100%;
        display: inline-block;
        background-color: aquamarine;
        overflow-x: hidden;
    }

}

footer{
    width: 100%;
    background-color: chartreuse;
}






